body{
    font-family: "Oxygen";
    padding-bottom: 50vh;
}

#form-wrapper
{
    margin-top: 30vh;
    padding: 0px;
    font-size: 1.1em;
}

#form-wrapper div
{
    box-sizing: border-box;
}

#form-wrapper li.active
{
    opacity: 1;
}

#form-wrapper li
{
    padding: 0px;
    opacity: 0.3;
}

ul.container
{
    list-style: none;
}

#form-wrapper li
{
    margin-bottom: 15vh;
}

.question
{
    font-size: 1.3em;
}

.question-subtext
{
        margin-bottom: 2em;
}

.question-errortext
{
    margin-top: 1.5em;
    color: white;
    background-color: rgb(153,0,0);
    padding: 5px;
    font-size: 0.8em;

        /* margin-bottom: 2em; */
}

#form-error
{
    margin-top: 1.5em;
    color: white;
    background-color: rgb(153,0,0);
    padding: 5px;
    font-size: 0.8em;

        /* margin-bottom: 2em; */
}

.question-number
{
    color: rgba(79, 176, 174,1);
    margin-right: 1.5em;
    font-size: 0.9em;
    font-weight: bold;
}

.checkbox-subtext
{
    color: rgba(79, 176, 174,0.7);
    margin-right: 1.5em;
    font-size: 0.9em;
    font-weight: bold;
}

#form-wrapper div.wrapper-multiple-choice
{
    padding: 2px 5px;
    margin: 2px;
}

#form-wrapper div.wrapper-no-margin
{
    margin: 0px;
}

.multiple-choice
{
    box-sizing: border-box;
    background-color:rgba(79, 176, 174,0.05);
    border:1px solid rgba(79,176,174,0.3);
    border-radius: 3px;
    margin-top: 5px;
    font-size: 1.1em;
    font-weight: bold;
    color: rgba(79, 176, 174,1);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
    cursor: pointer;
}

label
{
        cursor: pointer;
        margin-bottom: 0px;
}

#form-wrapper .no-border 
{
    border: 1px solid transparent;
    background-color: rgba(79, 176, 174,0.05);
}

#form-wrapper div.rating-multiple-choice
{
    padding: 0px;
}
.rating-choice
{
    background-color:rgba(79, 176, 174,0.15);
    border:1px solid rgba(79,176,174,0.6);
    margin-top: 5px;
    font-size: 1.1em;
    font-weight: bold;
    color: rgba(79, 176, 174,1);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 4em;
    cursor: pointer;
}
.option-alphanum
{
    display: inline-block;
    color: rgba(79, 176, 174,1);
    background-color:rgba(79, 176, 174,0.25);
    border:1px solid rgba(79,176,174,0.4);
    font-weight: bold;
    font-size: 0.8em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border-radius: 3px;
}
.multiple-choice:hover
{
    background-color:rgba(79, 176, 174,0.3);
}

.checked
{
    border: 1px solid rgba(79,176,174,1);
}

.checked>.option-alphanum
{
    background-color:rgba(79, 176, 174,1);
    color: #FFFFFF;
}

.checked>.option-checkmark
{
    visibility: visible;
}

.rating-checked
{
    background-color: rgba(79, 176, 174,1);
    color: #FFF;
    border: 1px solid rgba(79,176,174,1);
}


.rating-choice:hover
{
    background-color:rgba(79, 176, 174,1);
    color: #FFFFFF;
}

.multiple-choice>label>input
{
      -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;  
}

.rating-choice>label>input
{
      -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;  
}

.text-input
{
    resize: none;
    outline: none;
    border: none;
    font-size: 1.6em;
    color: rgba(79, 176, 174,1);
    padding-left: 0px;
}

#form-wrapper li.active .text-input
{
    outline: none;
    border-bottom: 1px solid rgba(79, 176, 174,0.7);
}

.text-input:focus
{
    outline: none;
    border-bottom: 1px solid rgba(79, 176, 174,0.7);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: rgba(79, 176, 174,1);
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

.rating-text-left
{
    text-align: left;
    color: rgba(79, 176, 174,1);
    padding-left: 0px;
}

.rating-text-center
{
    text-align: center;
    color: rgba(79, 176, 174,1);
}

.rating-text-right
{
    text-align: right;
    color: rgba(79, 176, 174,1);
    padding-right: 0px;
}

.ratings-text-wrapper
{
    margin-top: 1em;
     padding-left: 0px;
    padding-right: 0px; 
    font-size: 0.9em;
}

.ratings-text-wrapper-scale10
{
    margin-top: 1em;
     /* padding-left: 0px;
    padding-right: 0px;  */
    font-size: 0.9em;
}

.option-checkmark
{
    display: inline-block;
    float: right;
    font-size: 1.2em;
    visibility: hidden;
}

.wrapper-checkbox>div
{
    border-left: 1px dashed rgba(79, 176, 174,0.7);
}

.hidden
{
    visibility: hidden;
}

.submit-button
{
    background-color: rgba(79, 176, 174,1);
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.submit-button:hover,.submit-button:focus
{
    color: #FFFFFF;
    background-color: rgba(79, 176, 174,0.8);
    outline: none;
}

.submit-button>a,.submit-button>a:hover, .submit-button>a:focus
{
    color: white;
    text-decoration: none;
}

#sub-text
{
    font-size: 1.55em;
    line-height: 180%;
    text-align: center;
    margin-bottom: 2em;
}

#logo
{
    margin-bottom: 2em;
}

.question-errortext
{
    margin-bottom: 0px;
}

#form-error
{
    margin-bottom: 0px;
}


.wrapper-question-errortext>div
{
    margin-top: -2.1em;
    margin-left: 0.5em;
    width: 0px;
    height: 0px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid rgb(153,0,0);
}

#footer
{
    position: fixed;
    bottom: 0px;
     background-color: #FFFFFF; 
    width: 100%;
    height: 50px;
    border-top: 1px solid #eee;
    padding: 10px;
    /* box-shadow: -0px -1px 1px #aaa; */
}

#footer p
{
    font-size: 1em;
    color: rgba(79, 176, 174,1);
    margin-bottom: 0.2em;
}
#completion-bar>div
{
    width: 1.2em;
    height: 0.4em;
    background-color: rgba(79, 176, 174,0.3);
    float: left;
    margin-right: 0.2em;
}


/* Media Queries */
@media (max-width: 768px) {
    .required-rating>.col-xs-12
    {
        padding: 0px;
        font-size: 0.8em;
    }
    .rating-choice
    {
        padding: 4px;
        height: 2.5em;
    }
    .multiple-choice
    {
        font-size: 0.9em;
    }
    .option-alphanum
    {
        margin-bottom: 0.5em;
    }
    .question
    {
        font-size: 1em;
    }
    .question-subtext
    {
        font-size: 0.8em;
    }
    .submit-button
    {
        font-size: 1.2em;
    }
    #completion-bar>div
    {
        width: 0.7em;
        height: 0.2em;
        background-color: rgba(79, 176, 174,0.3);
        float: left;
        margin-right: 0.1em;
    }
}

@media (max-width: 1200px) {
    #completion-bar>div
    {
        width: 0.7em;
        height: 0.2em;
        background-color: rgba(79, 176, 174,0.3);
        float: left;
        margin-right: 0.1em;
    }
}